<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer hide-sidebar sidebar-r2" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css'>
<link href="{{ asset('libs/jquery-ui-1.11.4/jquery-ui.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/jquery-ui-1.11.4/jquery-ui.structure.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/jquery-ui-1.11.4/jquery-ui.theme.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/font-awesome-4.4.0/css/font-awesome.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/typicons.font-2.0.7/src/font/typicons.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/meanMenu/meanmenu.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/WOW/css/libs/animate.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/owl.carousel/owl-carousel/owl.carousel.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/jqGrid/css/ui.jqgrid.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/owl.carousel/owl-carousel/owl.theme.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('dist/css/steps.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ asset('libs/jquery.signature.package-1.1.2/jquery.signature.css') }}" media="screen" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" media="screen" rel="stylesheet" type="text/css">
<link href="{{ asset('dist/css/main.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>


{% endblock %}


{% block addStylesheets %}
{% endblock %}

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	
	<div id="header">
		<nav class="navbar navbar-default">
		    <div class="container">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		            <a class="navbar-brand" href="{{ url('homepage') }}">
						{% if app.user %}
							{% if app.user.retailer == null %}
								{% if app.user.logo != null %}
									{% set foo = media_public_url(app.user.logo, 'reference') %}
					    			<img src="{{ foo|imagine_filter('heighten_60') }}" class="img-responsive" />
					    		{% endif %}
				    		{% else %}
				    			{% if app.user.retailer.logo != null %}
									{% set foo = media_public_url(app.user.retailer.logo, 'reference') %}
					    			<img src="{{ foo|imagine_filter('heighten_60') }}" class="img-responsive" />
					    		{% endif %}
				    		{% endif %}
						{% endif %}
					</a>
		        </div>
		
		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            
		            <ul class="nav navbar-nav navbar-right">
		            	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		                <li><a href="{{ url('homepage') }}" title="Accueil"><i class="fa fa-home"></i></a></li>
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="typcn typcn-user"></span> <span class="caret"></span></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="{{ path('csid_orders') }}">Commandes</a></li>
								{% if is_granted('ROLE_RESELLER') %}
								<li><a href="{{ path('csid_products') }}">Produits</a></li>
		                        <li><a href="{{ path('csid_customers') }}">Clients</a></li>
		                        {% endif %}
		                        <li><a href="{{ path('csid_user_edit') }}">Mes informations</a></li>
		                        <li><a href="{{ path('csid_user_edit_pass') }}">Changer de mot de passe</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
		                    </ul>
		                </li>
						{% if is_granted('ROLE_RESELLER') %}
		                <li class="dropdown">
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="caret"></span></a>
		                	<ul class="dropdown-menu">
		                        <li><a href="{{ path('csid_statistics_orders') }}">Statistiques des ventes</a></li>
		                        <li><a href="{{ path('csid_statistics_quotations') }}">Statistiques des devis</a></li>
		                    </ul>
		                </li>
		                {% endif %}
		                <li><a href="{{ path('csid_basket') }}" title="Panier"><span class="typcn typcn-shopping-cart"></span></a></li>
		                <li><a href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}"><span class="typcn typcn-power"></span></a></li>
		                {% else %}
		                	<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
		                {% endif %}
		            </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container-fluid -->
		</nav>
	</div>
	<div id="navigation">
		<div class="container">
		</div>
	</div>
	{% block body %} {% endblock %} 
	 
	{% block fos_user_content %}{% endblock fos_user_content %} 
	
	{% block fos_message_content %}
	{% endblock %}
	<footer>
		
	</footer>
	<script type="text/javascript" src="{{ asset('libs/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('libs/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('libs/html5shiv/html5shiv.js') }}"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('libs/respond/respond.min.js') }}"></script><![endif]-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script type="text/javascript" src="{{ asset('libs/WOW/dist/wow.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/meanMenu/jquery.meanmenu.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/tinynav/tinynav.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/jquery.formatCurrency-1.4.0/jquery.formatCurrency-1.4.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/jquery.formatCurrency-1.4.0/i18n/jquery.formatCurrency.fr-FR.js') }}"></script>
	
	
	<script type="text/javascript" src="{{ asset('dist/js/main.min.js') }}"></script>
	
	
	{% block javascripts %}
	
	{% endblock %}
</body>
</html>
