{% extends 'base-choix.html.twig' %}
{% block addStylesheets %}
    <style>
        #navigation {
            height: 0px;
        }

        body {

            background: #fff;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">

            <ul class="bxslider">
                <li>
                    <div class="infos_slide">
                        <span class="slide_cat_title">shrimps lassi  </span>
                        <span class="slide_prod_title">vigilNot shangri-la  </span>
                        <span class="slide_prod_desc">fraticinidas accelerare!Courage, devastation, and x-ray vision. </span>
                        <a class="slide_lien_prod">en savoir plus</a>
                    </div>
                    <img src="{{ asset('libs/bxslider/docs_src/assets/img/photo1.jpeg') }}"/>


                </li>
                <li>
                    <div class="infos_slide">
                        <span class="slide_cat_title">shrimps lassi  </span>
                        <span class="slide_prod_title">vigilNot shangri-la  </span>
                        <span class="slide_prod_desc">fraticinidas accelerare!Courage, devastation, and x-ray vision. </span>
                        <a class="slide_lien_prod">en savoir plus</a>
                    </div>

                    <img src="{{ asset('libs/bxslider/docs_src/assets/img/photo2.jpeg') }}"/>

                </li>
                <li>
                    <div class="infos_slide">
                        <span class="slide_cat_title">shrimps lassi  </span>
                        <span class="slide_prod_title">vigilNot shangri-la  </span>
                        <span class="slide_prod_desc">fraticinidas accelerare!Courage, devastation, and x-ray vision. </span>
                        <a class="slide_lien_prod">en savoir plus</a>
                    </div>


                    <img src="{{ asset('libs/bxslider/docs_src/assets/img/photo3.jpeg') }}"/></li>
                <li>
                    <div class="infos_slide">
                        <span class="slide_cat_title">shrimps lassi  </span>
                        <span class="slide_prod_title">vigilNot shangri-la  </span>
                        <span class="slide_prod_desc">fraticinidas accelerare!Courage, devastation, and x-ray vision. </span>
                        <a class="slide_lien_prod">en savoir plus</a>
                    </div>


                    <img src="{{ asset('libs/bxslider/docs_src/assets/img/photo4.jpeg') }}"/></li>
            </ul>
        </div>
        <div class="row">
            <div id="nav-bar-liste-produit">

                <div class="container">
                    <nav class="navbar navbar-light bg-faded">
                        <ul class="nav navbar-nav">
                            {% for cate in categories %}
                                <li class="nav-item {% if cate.id  ==cat.id %}active {% endif %}">
                                    <a class="nav-link" href="{{ path('mobilier_incendie_page_achat' ,{cat_id :cate.id}) }}">{{ cate.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">



        <div id="div_liste_produits" class="row">
            {% set  count_prod = produits|length  %}
            {% if count_prod !=0 %}
            {% for prod in produits %}
                <div class="col-sm-3 ">
                    <div class="div_produit">
                        {% set  count = prod.Images|length  %}
                        {% if count!=0 %}
                        {% for image in prod.Images %}

                            {% if loop.index  ==1 %}

                                <img  class="img-responsive image_page_cat" src="/web{% path image, 'img_page_cat' %}">
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            <img style="height: 229px;" class="img-responsive image_page_cat" src="{{ asset('uploads/media/no-image.jpg') }}">
                        {% endif %}

                        <div class="infos_produit">
                            <a href="{{ path('mobilier_incendie_produit_achat' ,{id:prod.id}) }}">
                            <span class="name_produit">  {{ prod.name }}</span>
                            </a>
                            <span class="cat_produit">{{ cat.name }}</span>
                            <span class="couleur_produit">
                                {% for color in prod.Coloris %}
                                  <span class="color_prod" style="background-color:{{ color.CodeColor }} "></span>
                                {% endfor %}

                            </span>
                            <span class="prix_produit">{{ prod.prix }} €</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}

                <div class="alert alert-info">
                    <strong>Info!</strong> Cette catégorie ne contient pas de produits
                </div>
            {% endif %}


        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('libs/bxslider/dist/jquery.bxslider.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                        mode: 'fade',
                        controls : true,
                        Pager :false
                    }
            );
        });
    </script>
{% endblock %}
