{% extends 'base.html.twig' %} 
{% block body %} 
<div class="margin-top container-shadow-top">
	<div class="container">
		<div class="form-messages"></div>
		
		<ol class="breadcrumb">
		  <li><a href="{{ url('homepage') }}">Accueil</a></li>
		  <li><a href="{{ url('csid_orders') }}">Commandes</a></li>
		  <li class="active">Valider le devis</li>
		</ol>
		
		<div class="title grid-full">
		    <h2>Valider le devis <small>n°{{ order.retailer.commandNo }}{{ order.number }}</small></h2>
		    <span class="border"></span>
		</div> 
		
		<form method="POST" id="csid_confirm_order">
			{{ form_row(form._token) }}
			{{ form_row(form.signature_svg) }}
			{{ form_errors(form) }}
			
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-border panel-info">
						<div class="panel-heading">Signature du client</div>
						<div class="panel-body">
							<div id="sig"></div>
						</div>
						
					</div>
				</div>
			</div>
			
			<input type="submit" class="btn btn-default" value="Envoyer" />
			
		</form>
		
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('libs/jquery.signature.package-1.1.2/jquery.signature.min.js') }}"></script>
<script>
$(function() {
	$('#sig').signature();

	$('#csid_confirm_order').on('submit', function(){

		if($('#sig').signature('isEmpty')) {
			BootstrapDialog.show({
                type: BootstrapDialog.TYPE_DANGER,
                title: 'Erreur',
                message: 'Veuillez laisser votre signature.'
            });
			return false;
		}
		$('input[name="csid_confirm_order_form[signature_svg]"]').val($('#sig').signature('toSVG'));

		return true;
	});
});
</script>
{% endblock %}